<%= stylesheet_link_tag    'welcomeindex', media: 'all', 'data-turbolinks-track' => true %>

<div class="container gallery-container">

    <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="#">
                        <img src="<%= asset_path( '/dileep.jpg' ) %>">
                    </a>
                    <div class="caption">
                      <h3>Dileep M R</h3>
                      <p><em>(Event Coordinator)</em></p>
                      <p>mailto:<p><a href="https://mail.google.com/mail/u/0/#compose" > dileepmr@gmail.com </a></br>
                      <p>Tel No:9446924921</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a class="lightbox" href="#">
                      <img src="<%= asset_path( '/himanshu.jpg' ) %>">
                  </a>
                    <div class="caption">
                      <h3>Himanshu Tiwari</h3>
                      <p><em>(Main Coordinator)</em></p>
                      <p>mailto:<p><a href="https://mail.google.com/mail/u/0/#compose" > himanshutiwari@nitc.ac.in</br></p>
                      <p>Tel No:9848032919</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a class="lightbox" href="#">
                      <img src="<%= asset_path( '/komal.jpg' ) %>">
                  </a>
                    <div class="caption">
                      <h3>Komal Maheshwari</h3>
                        <p><em>(Hospitality Manager)</em></p>
                        <p>mailto:<p><a href="https://mail.google.com/mail/u/0/#compose" > komal1995maheshwari@gmail.com</br></p>
                        <p>Tel No:8982705249</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a class="lightbox" href="#">
                      <img src="<%= asset_path( '/kiran.jpg' ) %>">
                  </a>
                    <div class="caption">
                      <h3>Kiranmayi Paila</h3>
                        <p><em>(Emergency Handler)</em></p>
                        <p>mailto:<p><a href="https://mail.google.com/mail/u/0/#compose" > kiranmayi.unique@gmail.com</br></p>
                        <p>Tel No:7382684263
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a class="lightbox" href="#">
                      <img src="<%= asset_path( '/sheshang.jpg' ) %>">
                  </a>
                  <div class="caption">
                    <h3>Sheshang Ajwalia</h3>
                    <p><em>(Main Coordinator)</em></p>
                    <p>mailto:<p><a href="https://mail.google.com/mail/u/0/#compose" > sidajwalia@gmail.com</br></p>
                    <p>Tel No:8460776268</p>
                  </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a class="lightbox" href="#">
                      <img src="<%= asset_path( '/saurav.jpg' ) %>">
                  </a>
                    <div class="caption">
                      <h3>Saurav Kumar</h3>
                        <p><em>(Event Coordinator)</em></p>
                        <p>mailto:<p><a href="https://mail.google.com/mail/u/0/#compose" >kumar151saurav@gmailcom</br></p>
                        <p>Tel No:9761654102</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
