<%= raw(@html) %>

<%= form_for @user do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being added:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>


<h6><%=  session[:em] %></h6>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name, id: :user_name %>
</div>

<div class="field">
  <%= form.label :email %>
  <%= form.text_field :email, id: :user_email %>
</div>

<div class="field">
  <%= form.label :password %>
  <%= form.text_field :password, id: :user_password%>
</div>

<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<div class="actions">
  <%= form.submit "Add User"%>
</div>

<% end %>
