<%= form_with(model: registration, local: true) do |form| %>
  <% if registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name, id: :registration_Name %>
  </div>

  <div class="field">
    <%= form.label :Event %>
    <%= form.select( :Event, Event.all.map{|u| [u.Title]}, {:include_blank => true}) %>
  </div>

  <div class="field">
    <%= form.label :Contact_no %>
    <%= form.text_field :Contact_no, id: :registration_Contact_no %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :Email, id: :registration_Email %>
  </div>

  <div class="field">
    <%= form.label :College %>
    <%= form.text_field :College, id: :registration_College %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
