<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registration.Name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @registration.Event %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @registration.Contact_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registration.Email %>
</p>

<p>
  <strong>College:</strong>
  <%= @registration.College %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
