
<div class="row">

  <div class="col-lg-12">
    <table class="table table-striped table-inverse">
      <tr>
        <h3 colspan="13" style="text-align:center">All Events</h3>
      </tr>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Venue</th>
        <th>Time</th>
        <th>Date</th>
        <th>Fee</th>
        <th>Department</th>
        <th>Type</th>
        <th>Cordinatordetails</th>
        <th>Add photo</th>
        <th colspan="3"></th>
      </tr>

      <% @events.each do |event| %>
        <tr>
          <td><%= event.Title %></td>
          <td><%= event.Description %></td>
          <td><%= event.Venue %></td>
          <td><%= event.Time.strftime('%H:%M') %></td>
          <td><%= event.Date.strftime('%m/%d/%Y') %></td>
          <td><%= event.Cost %></td>
          <td><%= event.Department %></td>
          <td><%= event.Type %></td>
          <td><%= event.CordinatorDetails %></td>
          <td><%= File.basename event.add_photo.to_s %></td>
          <td><%= link_to 'Edit', edit_event_path(event), :class =>"link-unstyle" %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"link-unstyle" %></td>
        </tr>
      <% end %>

    </table>
    <tr>
      <td colspan="2"><%= link_to 'Create Event', new_event_path, :class => "btn btn-light link-unstyle pull-right", :role=>"btn" %></td>
    </tr>
  </div>
</div>
