<%= form_with(model: eventcoordinator, local: true) do |form| %>
  <% if eventcoordinator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eventcoordinator.errors.count, "error") %> prohibited this eventcoordinator from being saved:</h2>

      <ul>
      <% eventcoordinator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Event %>
    <%= form.text_field :Event, id: :eventcoordinator_Event %>
  </div>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name, id: :eventcoordinator_Name %>
  </div>

  <div class="field">
    <%= form.label :Contact_no %>
    <%= form.text_field :Contact_no, id: :eventcoordinator_Contact_no %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :Email, id: :eventcoordinator_Email %>
  </div>

  <div class="actions">
    <%= form.submit 'Add Coordinator' %>
  </div>
<% end %>
