<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @eventcoordinator.Event %>
</p>

<p>
  <strong>Name:</strong>
  <%= @eventcoordinator.Name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @eventcoordinator.Name %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @eventcoordinator.Contact_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @eventcoordinator.Email %>
</p>

<%= link_to 'Edit', edit_eventcoordinator_path(@eventcoordinator) %> |
<%= link_to 'Back', eventcoordinators_path %>
