
<%= form_with(model: fund, local: true) do |form| %>


  <div class="row">
    <div class="col-lg-2 col-md-0">
    </div>

    <div class="col-lg-8 col-md-0">

      <form style="float:none; clear:both">
        <div class="form-group row">
          <%= form.label :Sponser, :class=>"col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= form.text_field :sponsor, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= form.label :Event, :class=>"col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= form.select( :event, Event.all.map{|u| [u.Title]}, {:include_blank => true}, :class => 'form-control') %>
          </div>
        </div>
        <div class="form-group row">
          <%= form.label :Amount, :class => 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <%= form.text_field :amount, id: :fund_amount, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= form.label :Status, :class => 'col-sm-2 col-form-label'%>
          <div class="col-sm-10">
            <%= form.select( :status, ['received', 'pending'], {:include_blank => true}, :class => 'form-control')%>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <%= link_to 'Back', funds_path, :class => "btn btn-light link-unstyle pull-left", :role=>"btn" %>
            <%= form.submit "Save Details", :class => "btn btn-light link-unstyle pull-right", :role=>"btn"%>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-2 col-md-0">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2 col-md-0">
    </div>
    <div class="col-lg-8 col-md-0">
      <div class="alert">
        <% if fund.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(fund.errors.count, "error") %> prohibited this fund from being saved:</h2>

            <ul>
            <% fund.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      </div>
    </div>


    <div class="col-lg-2 col-md-0">
    </div>
  </div>

<%end%>
