<%= form_with(model: fund, local: true) do |form| %>
  <% if fund.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fund.errors.count, "error") %> prohibited this fund from being saved:</h2>

      <ul>
      <% fund.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Sponsor %>
    <%= form.text_field :sponsor, id: :fund_sponsor %>
  </div>

  <div class="field">
    <%= form.label :Event %>
    <%= form.select( :event, Event.all.map{|u| [u.Title]}, {:include_blank => true}) %>
  </div>

  <div class="field">
    <%= form.label :Amount %>
    <%= form.number_field :amount, id: :fund_amount %>
  </div>

  <div class="field">
    <%= form.label :Status %>
    <%= form.select( :status, ['received', 'pending'], {:include_blank => true}) %>
  </div>

  <div class="actions">
    <%= form.submit 'Add Fund'%>
  </div>
<% end %>
