<p id="notice"><%= notice %></p>

<h1>Funds</h1>

<table>
  <thead>
    <tr>
      <th>Sponsor</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funds.each do |fund| %>
      <tr>
        <td><%= fund.sponsor %></td>
        <td><%= fund.amount %></td>
        <td><%= fund.status %></td>
        <td><%= fund.event %></td>
        <td><%= link_to 'Show', fund %></td>
        <td><%= link_to 'Edit', edit_fund_path(fund) %></td>
        <td><%= link_to 'Destroy', fund, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fund', new_fund_path %>

<br> Total fund= <%= @total %></br>
<hr/>

<h1>Expenses</h1>
<table>
  <thead>
    <tr>
      <th>For</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.for %></td>
        <td><%= expense.amount %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>

  <br> Total expenses= <%= @total2 %></br>
  <hr/>

  <h1>Registration fee</h1>
  <table>
    <thead>
      <tr>
        <th>Event</th>
        <th>fee</th>
        <th>No of Entries</th>
        <th>Total</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>

      <% @reg_fees.each do |reg_fee| %>
        <tr>
          <td><%= reg_fee.Title %></td>
          <td><%= reg_fee.Cost %></td>
          <td><%= reg_fee.no_of_entries %></td>
          <td><%= (reg_fee.Cost)*(reg_fee.no_of_entries) %></td>
          <td><%= link_to 'Show' %></td>
          <td><%= link_to 'Edit'%></td>
          <td><%= link_to 'Destroy', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br> Balance= <%= @total %></br>
</table>

<br>
