
<div class="row">
  <div class="col-lg-6 col-md-12">

    <table class="table table-striped table-inverse">
      <tr>
        <h3 colspan="6" style="text-align:center">Sponserships</h3>
      </tr>
      <tr>
        <th>Sponsor</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Event</th>
        <th colspan="2"></th>
      </tr>

      <% @funds.each do |fund| %>
        <tr>
          <td><%= fund.sponsor %></td>
          <td><%= fund.amount %></td>
          <td><%= fund.status %></td>
          <td><%= fund.event %></td>
          <td><%= link_to 'Edit', edit_fund_path(fund), :class => 'link-unstyle1' %></td>
          <td><%= link_to 'Destroy', fund, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'link-unstyle1' %></td>
        </tr>
      <% end %>

    </table>
    <tr>
      <td colspan="6"><%= link_to 'Add Sponser', new_fund_path, :class => "btn btn-light link-unstyle pull-right", :role=>"btn" %></td>
    </tr>

  </div>
  <div class="col-lg-6 col-md-12">
    <table class="table table-striped table-inverse">
      <tr>
        <h3 colspan="6" style="text-align:center">Expenses</h3>
      </tr>
      <tr>
        <th>Purpose</th>
        <th>Amount</th>
        <th colspan="2"></th>
      </tr>

      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.for %></td>
          <td><%= expense.amount %></td>
          <td><%= link_to 'Edit', edit_expense_path(expense), :class => 'link-unstyle1' %></td>
          <td><%= link_to 'Delete', expense, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'link-unstyle1  ' %></td>
        </tr>
      <% end %>

    </table>
    <tr>
      <td colspan="6"><%= link_to 'Add Expense', new_expense_path, :class => "btn btn-light link-unstyle pull-right", :role=>"btn" %></td>
    </tr>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <table class="table table-striped table-inverse">
      <tr>
        <h3 colspan="5" style="text-align:center">Registration Income</h3>
      </tr>
      <tr>
        <th>Event</th>
        <th>fee</th>
        <th>No of Entries</th>
        <th>Total</th>
      </tr>

      <% @reg_fees.each do |reg_fee| %>
        <tr>
          <td><%= reg_fee.Title %></td>
          <td><%= reg_fee.Cost %></td>
          <td><%= reg_fee.no_of_entries %></td>
          <td><%= (reg_fee.Cost)*(reg_fee.no_of_entries) %></td>
        </tr>
      <% end %>

    </table>
  </div>
  <div class="col-lg-6 col-md-12">
    <table class="table table-striped table-inverse">
      <tr>
        <h3 colspan="6" style="text-align:center">Summary</h3>
      </tr>
      <tr>
        <th>Head</th>
        <th>Amount</th>
      </tr>

      <tr>
        <td>Sponsership</td>
        <td><%= @total1 %></td>
      </tr>
      <tr>
        <td>Expense</td>
        <td><%= @total2 %></td>
      </tr>
      <tr>
        <td>Registration Fee</td>
        <td><%= @total3 %></td>
      </tr>

      <tr>
        <th>Balance</th>
        <th><%= @total %></th>
      </tr>
    </table>
  </div>
</div>
